<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grocery_unit.name %>
</p>

<%= link_to 'Edit', edit_grocery_unit_path(@grocery_unit) %> |
<%= link_to 'Back', grocery_units_path %>
